:root {
    --titleSectionPrimaryColors: purple;
}


#title {
    color: var(--titleSectionPrimaryColors);
    Text-align: center;
    padding-top: 200px;
    background-image: url('../images/image.png');
    background-position: center top;
}

.title-section-button {
    color: var(--titleSectionPrimaryColors);
    padding: 15px 20px;
    background-color: transparent;
    border: solid var(--titleSectionPrimaryColors) 1px;
    border-radius: 5px;
}

     
.title-section-button:hover {
    background-color: red;
    cursor: pointer;

}

