:root {
    --titleSectionPrimaryColors: rgb(255, 255, 255);
    --titleSectionSecondaryColors: rgb(0, 0, 0);

}


#title {
    color: var(--titleSectionPrimaryColors);
    Text-align: center;
    padding-top: 200px;
    background-image: url('../images/image.png');
    background-position: center top;

}

.title-section-header{
    margin-bottom: -15px;

}

.title-section-subtitle{
    margin-bottom: 50px;
}

.title-section-button {
    color: var(--titleSectionPrimaryColors);
    padding: 15px 20px;
    background-color: transparent;
    border: solid var(--titleSectionPrimaryColors) 1px;
    border-radius: 5px;
}

     
.title-section-button:hover {
    background-color: var(--titleSectionPrimaryColors);
    color: var(--titleSectionSecondaryColors);
    cursor: pointer;

}

.misc-section{
    width: 100vw;
    padding: 50px;
}
.text-block-container{
    width: 65%;
    
    margin: 0 auto;
}

