h1 { 
    color: red;
}
 /*this is a css comment*/     
button:hover {
color: blue;
font-size: 20px;
cursor: pointer;

}

#title {
   
    Text-align: center;
   padding-top: 200px;
   background-image: url('../images/image.png');
   background-position: center top;
}